/* ----**** Anchor *****---- */

.nav-ul__link-menu {
    color: $color-texto-blanco;
    text-decoration: none;
    font-family: $fuente-parrafos;
}

.nav-ul__link-menu:hover {
    color: $amarillo;
}

