/* ----**** Image *****---- */

.nav-ul__image {
    margin-top: 25px;
}

.info--social--icon-image {
    transform: rotate(-90deg);
}

.info--social--icon-image:hover {
    background-color: $amarillo;
    border-radius: 50px;
}

