/* ----**** List *****---- */

.nav-ul {
    display: flex;
    font-size: $font-size;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
}

.nav-ul__li {
    margin-top: -60px;
}