/* ----**** Pgraphs *****---- */

.main__info1--text {
    color: $color-texto-blanco;
    transform: rotate(-90deg);
}

.main__info-principal-title--pgraph {
    color: $color-texto-blanco;
    text-align: center;
    font-family: $fuente-parrafos;
    letter-spacing: 0.5em;
    text-transform: uppercase;
}

.about__info-pgraph:nth-of-type(1) {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: $fuente-parrafos;
}

.about__info-pgraph:nth-of-type(2) {
    font-size: 1.4rem;
    font-family: $fuente-parrafos;
    margin-top: 15px;
}

.our_team--pgraph1 {
    font-family: $fuente-parrafos;
    font-size: 1.8rem;
    font-weight: 500;
}

.our_team--pgraph2 {
    font-family: $fuente-parrafos;
    font-weight: lighter;
    font-size: 1.4rem;
    margin: 30px 95px 0 95px;
    text-align: center;
}