/* ----**** Title *****---- */

.main__info-principal-title--title {
    font-size: 9.6rem;
    color: $color-texto-blanco;
    font-family: $fuente-titulos;
}

.about__info-title {
    font-size: 3.6rem;
    font-family: $fuente-titulos;
}