/* ----**** Title *****---- */

.main__info-principal-title--title {
    font-size: 9.6rem;
    color: $color-texto-blanco;
    font-family: $fuente-titulos;
}

.about__info-title {
    font-size: 3.6rem;
    font-family: $fuente-titulos;
}

.our_team--title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 14px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: white;
    font-family: $fuente-parrafos;
    font-weight: lighter;
    margin-bottom: 50px;
    margin-top: -50px;
}

.our_team--title2 {
    font-size: 4.8rem;
    font-family: $fuente-titulos;
}

.formulario__info--title {
    font-family: $fuente-titulos;
    font-size: 3.6rem;
}

.menu__title {
    font-family: $fuente-titulos;
    font-size: 36px;
    text-transform: uppercase;
}

.prices_title {
    font-family: $fuente-titulos;
    font-size: 2rem;
}