/* ----**** Div *****---- */

.main__info-principal {
    margin-left: -40px;
}

.main__info-social span {
    width: 50px;
}

.linea-vacia {
    height: 5px;
    width: 60px;
    background-color: $amarillo;
    margin: 0 auto;
    margin-top: 21px;
    margin-bottom: 30px;
}

.main__info-social {
    display: flex;
    transform: rotate(90deg);
    width: 220px;
    justify-content: space-between;
}

.main__info-principal--buttons {
    text-align: center;
}

.main__button-down {
    position: absolute;
    left: 47%;
    bottom: 10%;
}

.main__button-down:hover {
    background: $amarillo;
    border-radius: 50%;
    opacity: .8;
}