/* ----**** Lib *****---- */
/* ----**** Variables *****---- */
/* ----**** Mixins *****---- */
/* ----**** Layout *****---- */
html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ----**** Body *****---- */
body {
  width: 100%;
  max-width: 1441px;
}

/* ----**** Main *****---- */
.main {
  position: relative;
  height: 699px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

/* ----**** Header *****---- */
.header {
  height: 800px;
  background: url("/assets/images/header-bg.png");
}

/* ----**** Section *****---- */
/* ----**** Div *****---- */
.main__info-principal {
  margin-left: -40px;
}

.main__info-social span {
  width: 50px;
}

.linea-vacia {
  height: 5px;
  width: 60px;
  background-color: #E8C300;
  margin: 0 auto;
  margin-top: 21px;
  margin-bottom: 30px;
}

.main__info-social {
  display: flex;
  transform: rotate(90deg);
  width: 220px;
  justify-content: space-between;
}

.main__info-principal--buttons {
  text-align: center;
}

.main__button-down {
  position: absolute;
  left: 47%;
  bottom: 10%;
}

.main__button-down:hover {
  background: #E8C300;
  border-radius: 50%;
  opacity: 0.8;
}

/* ----**** Footer *****---- */
/* ----**** Components *****---- */
/* ----**** Title *****---- */
.main__info-principal-title--title {
  font-size: 9.6rem;
  color: #FFF;
  font-family: "Banny Round";
}

/* ----**** Nav *****---- */
.nav {
  position: relative;
  height: 100px;
  padding: 0 80px;
}

/* ----**** List *****---- */
.nav-ul {
  display: flex;
  font-size: 1.2rem;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
}

.nav-ul__li {
  margin-top: -60px;
}

/* ----**** Anchor *****---- */
.nav-ul__link-menu {
  color: #FFF;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

.nav-ul__link-menu:hover {
  color: #E8C300;
}

/* ----**** Pgraphs *****---- */
.main__info1--text {
  color: #FFF;
  transform: rotate(-90deg);
}

.main__info-principal-title--pgraph {
  color: #FFF;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

/* ----**** Button *****---- */
.button {
  padding: 20px 40px;
  background-color: #E8C300;
  min-width: 200px;
  border: none;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
}

.button:nth-of-type(2) {
  margin-left: 40px;
  background: transparent;
  border: 1px solid white;
}

.button:nth-of-type(1):hover {
  background: transparent;
  border: 1px solid white;
}

.button:nth-of-type(2):hover {
  background-color: #E8C300;
  border: 1px solid #E8C300;
}

/* ----**** Form *****---- */
/* ----**** Image *****---- */
.nav-ul__image {
  margin-top: 25px;
}

.info--social--icon-image {
  transform: rotate(-90deg);
}

.info--social--icon-image:hover {
  background-color: #E8C300;
  border-radius: 50px;
}